<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Phase 4</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
    <div id="wrapper">
        <header>
            <h1><a href="/">Mushroom Cloud 422 Advertisement Website</a></h1>
        </header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/sales">For Sale</a></li>
                <li><a href="/housing">Housing</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/jobs">Jobs</a></li>
                <li><a href="/community">Community</a></li>
            </ul>
        </nav>
    <main>
        
        <h2>Welcome to Mushroom Cloud 422</h2>
        <ul>
            <li><a href="/activities">Activities</a></li>
            <li><a href="/musicians">Musicians</a></li>
            <li><a href="/childcare">Child Care</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/groups">Groups</a></li>
        </ul>
        
      </div>
        <div>
            2055 Marston Hall<br>
            Ames, IA 50011<br>
            888-555-5555
        </div>
    </main>
    <footer>
        Copyright &copy; 2022 Mushroom Cloud 422<br>
    </footer>
    </div>
    </body>
</html>