<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Project 4</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
    <div id="wrapper">
        <header>
            <h1><a href="/">Group 8 Project 4</a></h1>
        </header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/for-sale">For Sale</a></li>
                <li><a href="/housing">Housing</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/jobs">Jobs</a></li>
                <li><a href="/community">Community</a></li>
            </ul>
        </nav>
    <main>
        
        <h2>Heres whats for sale:</h2>
        <ul>
            <li><a href="/golfCarts">Golf Carts</a></li>
            <li><a href="/bikes">Bikes</a></li>
            <li><a href="/boats">Boats</a></li>
            <li><a href="/cell-phones">Cell Phones</a></li>
            <li><a href="/furniture">Furniture</a></li>
        </ul>
        
      </div>
    </main>
    </div>
    </body>
</html>