<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Project 4</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    </head>
    <body>
    <div id="wrapper">
        <header>
            <h1><a href="/">Group 8 Project 4</a></h1>
        </header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/for-sale">For Sale</a></li>
                <li><a href="/housing">Housing</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/jobs">Jobs</a></li>
                <li><a href="/community">Community</a></li>
            </ul>
        </nav>
    <main>
        <div>
            <h2>Real Estate</h2>
            {% if msg %}
                <p>{{ msg }}</p>
            {% endif %}

            {% for r in realEstates %}
            <div> 
                <h4>Cost: {{r.Cost}}</h4>
                <ul>
                  <li>Uploaded: {{r.CreationTime}}</li>
                  <li>Location: {{r.Location}}</li>
                  <li>Contact Information: {{r.PhoneNum}}</li>
                  <li>Acreage: {{r.Acreage}}</li>
                  <li>Type: {{r.Type}}</li>
                  <li>Rooms: {{r.Rooms}}</li>
                </ul>
            </div>
            {% endfor %}

            {% if inSession %}
            <div>
  
            <form class="animate" action="{{url}}" method="post">
                <div class="container">
                <input type="text" placeholder="Cost" name="cost" value={{request.form.cost}} > <br>
                <input type="text" placeholder="Location" name="location" value={{request.form.location}} > <br>
                <input type="text" placeholder="Phone Number" name="phoneNum" value={{request.form.phoneNum}} > <br>
                <input type="text" placeholder="Acreage" name="acreage" value={{request.form.acreage}} > <br>
                <input type="text" placeholder="Commercial/Residential" name="type" value={{request.form.type}} > <br>
                <input type="text" placeholder="Rooms" name="rooms" value={{request.form.rooms}} > <br>
                <input type="submit" value="Upload" style="width:60px">
                <button type="button" onclick="document.getElementById('showMe').style.display='none'" class="cancelbtn">Cancel</button>
                </div>
            </form>
            </div>
            {% endif %}
        </div>
      </div>
    </main>
</body>
</html>