<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Project 4</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    </head>
    <body>
    <div id="wrapper">
        <header>
            <h1><a href="/">Group 8 Project 4</a></h1>
        </header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/for-sale">For Sale</a></li>
                <li><a href="/housing">Housing</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/jobs">Jobs</a></li>
                <li><a href="/community">Community</a></li>
            </ul>
        </nav>
    <main>
        <div>
            <h2>Rooms</h2>
            {% if msg %}
                <p>{{ msg }}</p>
            {% endif %}

            {% for r in rooms %}
            <div> 
                <h4>Rent: {{r.Rent}}</h4>
                <ul>
                  <li>Uploaded: {{r.CreationTime}}</li>
                  <li>Location: {{r.Location}}</li>
                  <li>Contact Information: {{r.PhoneNum}}</li>
                  <li>Square footage: {{r.SquareFeet}}</li>
                  <li>Term: {{r.Term}}</li>
                  <li>Furnished: {{r.Furnished}}</li>
                  <li>Gender: {{r.Gender}}</li>
                </ul>
            </div>
            {% endfor %}

            {% if inSession %}
            <div>
  
            <form class="animate" action="{{url}}" method="post">
                <div class="container">
                <input type="text" placeholder="Rent" name="rent" value={{request.form.rent}} > <br>
                <input type="text" placeholder="Location" name="location" value={{request.form.location}} > <br>
                <input type="text" placeholder="Phone Number" name="phoneNum" value={{request.form.phoneNum}} > <br>
                <input type="text" placeholder="Square footage" name="square_feet" value={{request.form.square_feet}} > <br>
                <input type="text" placeholder="Rent Length" name="term" value={{request.form.term}}> <br>
                <input type="text" placeholder="Yes/No" name="furnished" value={{request.form.furnished}}> <br>
                <input type="text" placeholder="Male/Female/No Preference" name="gender" value={{request.form.gender}}> <br>
                <input type="submit" value="Upload" style="width:60px">
                <button type="button" onclick="document.getElementById('showMe').style.display='none'" class="cancelbtn">Cancel</button>
                </div>
            </form>
            </div>
            {% endif %}
        </div>
      </div>
    </main>
</body>
</html>
