<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Phase 4</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    </head>
    <body>
    <div id="wrapper">
        <header>
            <h1><a href="/">Group 8 Project 4</a></h1>
        </header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/for-sale">For Sale</a></li>
                <li><a href="/housing">Housing</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/jobs">Jobs</a></li>
                <li><a href="/community">Community</a></li>
            </ul>
        </nav>
    <main>
        <div>
            <h2>Finance</h2>
            {% if msg %}
                <p>{{ msg }}</p>
            {% endif %}

            {% for f in finance %}
            <div>
                <h4>{{f.Title}}</h4>
                <ul>
                  <li>Uploaded: {{f.CreationTime}}</li>
                  <li>Employer: {{f.Employer}}</li>
                  <li>Experience Needed: {{f.Experience}}</li>
                  <li>Salary: {{f.Salary}}</li>
                  <li>Location: {{f.Location}}</li>
                  <li>Contact Information: {{f.Email}}</li>
                  <li>Work Options: {{f.RemotePerson}}</li>                  
                </ul>
            </div>
            {% endfor %}

            {% if inSession %}
            <p style="color:blue;"><u onclick="document.getElementById('showMe').style.display='block'">Upload a finance related job opening by clicking here.</u></p>
            <div id="showMe" class="modal">

            <form class="modal-content animate" action="{{url}}" method="post">
                <div class="container">
                <input type="text" placeholder="Experience Needed" name="experience" value={{request.form.experience}} > <br>
                <input type="text" placeholder="Salary" name="salary" value={{request.form.resersalaryvation}} > <br>
                <input type="text" placeholder="Location" name="location" value={{request.form.location}} > <br>
                <input type="text" placeholder="Email" name="eamil" value={{request.form.email}} > <br>
                <input type="text" placeholder="Work Options" name="remote_person" value={{request.form.remote_person}} > <br>
                <input type="text" placeholder="Title" name="title" value={{request.form.title}} > <br>
                <input type="text" placeholder="Employer" name="employer" value={{request.form.employer}} > <br>
                <input type="submit" value="Upload" style="width:60px">
                <button type="button" onclick="document.getElementById('showMe').style.display='none'" class="cancelbtn">Cancel</button>
                </div>
            </form>
            </div>
            <script>
                var modal = document.getElementById('showMe');
                window.onclick = function(event) {
                    if (event.target == modal) modal.style.display = "none";
                }
            </script>
            {% endif %}
        </div>
      </div>
    </main>
</body>
</html>