<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Phase 4</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    </head>
    <body>
    <div id="wrapper">
        <header>
            <h1><a href="/">Group 8 Project 4</a></h1>
        </header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/for-sale">For Sale</a></li>
                <li><a href="/housing">Housing</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/jobs">Jobs</a></li>
                <li><a href="/community">Community</a></li>
            </ul>
        </nav>
    <main>
        <div>
          <h2>Plumbing</h2>
          {% if msg %}
              <p>{{ msg }}</p>
          {% endif %}

          {% for p in plumbing %}
          <div>
              <h4>{{p.CompanyName}}</h4>
              <ul>
                <li>Uploaded: {{p.CreationTime}}</li>
                <li>Cost: {{p.Cost}}</li>
                <li>Location: {{p.Location}}</li>
                <li>Contact Information: {{p.PhoneNum}}</li>
                <li>Operating Hours: {{p.OperatingHours}}</li>
                <li>Repair Type: {{p.RepairType}}</li>
              </ul>
          </div>
          {% endfor %}

          {% if inSession %}
          <div >

          <form action="{{url}}" method="post">
              <div class="container">
              <input type="text" placeholder="Cost" name="cost" value={{request.form.cost}} > <br>
              <input type="text" placeholder="Location" name="location" value={{request.form.location}} > <br>
              <input type="text" placeholder="Phone Number" name="phoneNum" value={{request.form.phoneNum}} > <br>
              <input type="text" placeholder="Operating Hours" name="operating_hours" value={{request.form.operating_hours}} > <br>
              <input type="text" placeholder="Repair Type" name="repair_type" value={{request.form.repair_type}} > <br>
              <input type="text" placeholder="Company Name" name="company_name" value={{request.form.company_name}} > <br>
              <input type="submit" value="Upload" style="width:60px">
              <button type="button" onclick="document.getElementById('showMe').style.display='none'" class="cancelbtn">Cancel</button>
              </div>
          </form>
          </div>
          {% endif %}
        </div>
      </div>
    </main>
</body>
</html>
