<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Phase 4</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    </head>
    <body>
    <div id="wrapper">
        <header>
            <h1><a href="/">Mushroom Cloud 422 Advertisement Website</a></h1>
        </header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/sales">For Sale</a></li>
                <li><a href="/housing">Housing</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/jobs">Jobs</a></li>
                <li><a href="/community">Community</a></li>
            </ul>
        </nav>
    <main>
        <div>
            <h2>Boats</h2>
            {% if msg %}
                <p>{{ msg }}</p>
            {% endif %}

            {% for b in boats %}
            <div> 
                <h4>{{b.MakeModel}}</h4>
                <ul>
                  <li>Uploaded: {{b.CreationTime}}</li>
                  <li>Price: {{b.Price}}</li>
                  <li>Location: {{b.Location}}</li>
                  <li>Contact Information: {{b.PhoneNum}}</li>
                  <li>Length: {{b.BoatLength}}</li>
                  <li>Make/Model: {{b.MakeModel}}</li>
                  <li>Year: {{b.YearBuilt}}</li>
                  <li>Type: {{b.BoatType}}</li>
                </ul>
            </div>
            {% endfor %}

            {% if inSession %}
            <p style="color:blue;"><u onclick="document.getElementById('showMe').style.display='block'">Upload a boat you have for sale by clicking here.</u></p>
            <div id="showMe" class="modal">
  
            <form class="modal-content animate" action="{{url_for('boats')}}" method="post">
                <div class="container">
                <input type="text" placeholder="Price" name="price" value={{request.form.price}} > <br>
                <input type="text" placeholder="Location" name="location" value={{request.form.location}} > <br>
                <input type="text" placeholder="Phone Number" name="phoneNum" value={{request.form.phoneNum}} > <br>
                <input type="text" placeholder="Length" name="boat_length" value={{request.form.boat_length}} > <br>
                <input type="text" placeholder="Make/Model" name="make_model" value={{request.form.make_model}} > <br>
                <input type="text" placeholder="Year" name="year_built" value={{request.form.year_built}} > <br>
                <input type="text" placeholder="Type" name="boat_type" value={{request.form.boat_type}} > <br>
                <input type="submit" value="Upload" style="width:60px">
                <button type="button" onclick="document.getElementById('showMe').style.display='none'" class="cancelbtn">Cancel</button>
                </div>
            </form>
            </div>
            <script>
                var modal = document.getElementById('showMe');
                window.onclick = function(event) {
                    if (event.target == modal) modal.style.display = "none";
                }
            </script>
            {% endif %}
        </div>
      </div>
        <div>
            2055 Marston Hall<br>
            Ames, IA 50011<br>
            888-555-5555
        </div>
    </main>
    <footer>
        Copyright &copy; 2022 Mushroom Cloud 422<br>
    </footer>
</body>
</html>